In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("Displacement Data.csv")

In [27]:
print(df.shape)

(29663, 20)

In [28]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29663 entries, 0 to 29662
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       29656 non-null  object
 1   CurrentDistrict      29663 non-null  object
 2   Previous Region      29661 non-null  object
 3   PreviousDistrict     29661 non-null  object
 4   Arrival              29663 non-null  object
 5   ZoneName             29663 non-null  object
 6   OrganisationAcronym  29663 non-null  object
 7   0-4M                 29663 non-null  int64
 8   0-4F                 29663 non-null  int64
 9   5-11M                29663 non-null  int64
 10  5-11F                29663 non-null  int64
 11  12-17M               29663 non-null  int64
 12  12-17F               29663 non-null  int64
 13  18_59M               29663 non-null  int64
 14  18_59F               29663 non-null  int64
 15  60+M                 29663 non-null  int64
 16  60+F                 29663 non-null  int64
 17  Individuals          29663 non-null  int64
 18  Category             29663 non-null  object
 19  Need                 28518 non-null  object
dtypes: int64(11), object(9)
memory usage: 4.5+ MB
None

In [29]:
print(df.isnull().sum())

Current Region            7
CurrentDistrict           0
Previous Region           2
PreviousDistrict          2
Arrival                   0
ZoneName                  0
OrganisationAcronym       0
0-4M                      0
0-4F                      0
5-11M                     0
5-11F                     0
12-17M                    0
12-17F                    0
18_59M                    0
18_59F                    0
60+M                      0
60+F                      0
Individuals               0
Category                  0
Need                   1145
dtype: int64

In [ ]:
df["Current Region"].fillna(df["Current Region"].mode()[0], inplace=True)

In [47]:
df["PreviousDistrict"].fillna(df["PreviousDistrict"].mode()[0], inplace=True)

C:\Users\KCT\AppData\Local\Temp\ipykernel_12160\1233676560.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["PreviousDistrict"].fillna(df["PreviousDistrict"].mode()[0], inplace=True)

In [48]:
df["Previous Region"].fillna(df["Previous Region"].mode()[0], inplace=True)

C:\Users\KCT\AppData\Local\Temp\ipykernel_12160\3322704130.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Previous Region"].fillna(df["Previous Region"].mode()[0], inplace=True)

In [49]:
df_train = df[df['Need'].notnull()].copy()

In [50]:
print(df_train.isnull().sum())

Current Region         0
CurrentDistrict        0
Previous Region        0
PreviousDistrict       0
Arrival                0
ZoneName               0
OrganisationAcronym    0
0-4M                   0
0-4F                   0
5-11M                  0
5-11F                  0
12-17M                 0
12-17F                 0
18_59M                 0
18_59F                 0
60+M                   0
60+F                   0
Individuals            0
Category               0
Need                   0
dtype: int64

In [51]:
print(df.isnull().sum())

Current Region            0
CurrentDistrict           0
Previous Region           0
PreviousDistrict          0
Arrival                   0
ZoneName                  0
OrganisationAcronym       0
0-4M                      0
0-4F                      0
5-11M                     0
5-11F                     0
12-17M                    0
12-17F                    0
18_59M                    0
18_59F                    0
60+M                      0
60+F                      0
Individuals               0
Category                  0
Need                   1145
dtype: int64

In [8]:
print(df_train["Current Region"])

0        SO18
1        SO14
2        SO18
3        SO18
4        SO18
         ...
29658    SO22
29659    SO22
29660    SO22
29661    SO23
29662    SO23
Name: Current Region, Length: 28518, dtype: object

In [52]:
print(df_train["Current Region"].value_counts(dropna=False))

Current Region
SO16    3960
SO22    3856
SO18    3097
SO28    3073
SO24    2796
SO15    2582
SO27    1766
SO11    1115
SO26    1077
SO23    1016
SO14     874
SO13     865
SO17     620
SO21     466
SO12     446
SO25     385
SO20     348
SO19     176
Name: count, dtype: int64

In [32]:
print(df["Current Region"].value_counts(dropna=False))

Current Region
SO22    4252
SO16    4008
SO28    3216
SO18    3138
SO24    2905
SO15    2601
SO27    1828
SO11    1120
SO26    1091
SO23    1070
SO14     887
SO13     884
SO17     621
SO21     485
SO12     449
SO25     434
SO20     404
SO19     263
NaN        7
Name: count, dtype: int64

In [38]:
df_train["Current Region"]=df_train["Current Region"].replace({"":df_train["Current Region"].mode()[0]})

KeyError: 0

In [22]:
df["Current Region"] = df["Current Region"].replace({"":df["Current Region"].mode()[0]})

In [54]:
df_train = df_train.rename(columns={
    "0-4M": "Age0_4_Male",
    "0-4F": "Age0_4_Female",
    "5-11M": "Age5_11_Male",
    "5-11F": "Age5_11_Female",
    "12-17M": "Age12_17_Male",
    "12-17F": "Age12_17_Female",
    "18_59M": "Age18_59_Male",
    "18_59F": "Age18_59_Female",
    "60+M": "Age60plus_Male",
    "60+F": "Age60plus_Female"
})

In [55]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 28518 entries, 0 to 29662
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       28518 non-null  object
 1   CurrentDistrict      28518 non-null  object
 2   Previous Region      28518 non-null  object
 3   PreviousDistrict     28518 non-null  object
 4   Arrival              28518 non-null  object
 5   ZoneName             28518 non-null  object
 6   OrganisationAcronym  28518 non-null  object
 7   Age0_4_Male          28518 non-null  int64
 8   Age0_4_Female        28518 non-null  int64
 9   Age5_11_Male         28518 non-null  int64
 10  Age5_11_Female       28518 non-null  int64
 11  Age12_17_Male        28518 non-null  int64
 12  Age12_17_Female      28518 non-null  int64
 13  Age18_59_Male        28518 non-null  int64
 14  Age18_59_Female      28518 non-null  int64
 15  Age60plus_Male       28518 non-null  int64
 16  Age60plus_Female     28518 non-null  int64
 17  Individuals          28518 non-null  int64
 18  Category             28518 non-null  object
 19  Need                 28518 non-null  object
dtypes: int64(11), object(9)
memory usage: 4.6+ MB
None

In [56]:
before = df_train.shape

In [57]:
print(before)

(28518, 20)

In [58]:
df_train = df_train.drop_duplicates()

In [59]:
print(df_train.shape)

(26759, 20)

In [60]:
df_train["Arrival"] = pd.to_datetime(df_train["Arrival"], errors="coerce")
df_train["Arrival_Year"] = df_train["Arrival"].dt.year
df_train["Arrival_Month"] = df_train["Arrival"].dt.month

In [ ]:
print("the way I did that Arrival has data like 3/4/2019 and that we cannot change into int we need to look for year and month then make them int")

In [61]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 26759 entries, 0 to 29662
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       26759 non-null  object
 1   CurrentDistrict      26759 non-null  object
 2   Previous Region      26759 non-null  object
 3   PreviousDistrict     26759 non-null  object
 4   Arrival              26759 non-null  datetime64[ns]
 5   ZoneName             26759 non-null  object
 6   OrganisationAcronym  26759 non-null  object
 7   Age0_4_Male          26759 non-null  int64
 8   Age0_4_Female        26759 non-null  int64
 9   Age5_11_Male         26759 non-null  int64
 10  Age5_11_Female       26759 non-null  int64
 11  Age12_17_Male        26759 non-null  int64
 12  Age12_17_Female      26759 non-null  int64
 13  Age18_59_Male        26759 non-null  int64
 14  Age18_59_Female      26759 non-null  int64
 15  Age60plus_Male       26759 non-null  int64
 16  Age60plus_Female     26759 non-null  int64
 17  Individuals          26759 non-null  int64
 18  Category             26759 non-null  object
 19  Need                 26759 non-null  object
 20  Arrival_Year         26759 non-null  int32
 21  Arrival_Month        26759 non-null  int32
dtypes: datetime64[ns](1), int32(2), int64(11), object(8)
memory usage: 4.5+ MB
None