In [1]:
import pandas as pd
import glob

In [2]:
folder_path = "*.csv"
# Read and merge all CSV files
files = glob.glob(folder_path)
df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

print("Shape after merge:", df.shape)

Shape after merge: (77646, 20)

In [3]:
# Convert Arrival to datetime and extract useful features
df["Arrival"] = pd.to_datetime(df["Arrival"], errors="coerce")
df["Arrival_Year"] = df["Arrival"].dt.year
df["Arrival_Month"] = df["Arrival"].dt.month

In [15]:
# df = df.drop(columns=["OrganisationAcronym", "Category"])
df = df.drop(columns=["Arrival"])

In [5]:
df = df.rename(columns={
    "0-4M": "Age0_4_Male",
    "0-4F": "Age0_4_Female",
    "5-11M": "Age5_11_Male",
    "5-11F": "Age5_11_Female",
    "12-17M": "Age12_17_Male",
    "12-17F": "Age12_17_Female",
    "18_59M": "Age18_59_Male",
    "18_59F": "Age18_59_Female",
    "60+M": "Age60plus_Male",
    "60+F": "Age60plus_Female"
})

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 72574 entries, 0 to 77645
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Current Region    72574 non-null  object
 1   CurrentDistrict   72574 non-null  object
 2   Previous Region   72574 non-null  object
 3   PreviousDistrict  72574 non-null  object
 4   ZoneName          72574 non-null  object
 5   Age0_4_Male       72574 non-null  int64
 6   Age0_4_Female     72574 non-null  int64
 7   Age5_11_Male      72574 non-null  int64
 8   Age5_11_Female    72574 non-null  int64
 9   Age12_17_Male     72574 non-null  int64
 10  Age12_17_Female   72574 non-null  int64
 11  Age18_59_Male     72574 non-null  int64
 12  Age18_59_Female   72574 non-null  int64
 13  Age60plus_Male    72574 non-null  int64
 14  Age60plus_Female  72574 non-null  int64
 15  Individuals       72574 non-null  int64
 16  Need              70206 non-null  object
 17  Arrival_Year      72574 non-null  float64
 18  Arrival_Month     72574 non-null  float64
dtypes: float64(2), int64(11), object(6)
memory usage: 11.1+ MB
None

In [17]:
df["Current Region"] = df["Current Region"].fillna(df["Current Region"].mode()[0])
df["Previous Region"] = df["Previous Region"].fillna(df["Previous Region"].mode()[0])
df["PreviousDistrict"] = df["PreviousDistrict"].fillna(df["Previous Region"].mode()[0])
df["Arrival_Year"] = df["Arrival_Year"].fillna(df["Arrival_Year"].mode()[0])
df["Arrival_Month"] = df["Arrival_Month"].fillna(df["Arrival_Month"].mode()[0])

In [12]:
df = df.drop_duplicates()