In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2020.csv")

In [3]:
print(df.shape)

(29615, 20)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29615 entries, 0 to 29614
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       29611 non-null  object
 1   CurrentDistrict      29615 non-null  object
 2   Previous Region      29615 non-null  object
 3   PreviousDistrict     29615 non-null  object
 4   Arrival              29615 non-null  object
 5   ZoneName             29615 non-null  object
 6   OrganisationAcronym  29615 non-null  object
 7   0-4M                 29615 non-null  int64
 8   0-4F                 29615 non-null  int64
 9   5-11M                29615 non-null  int64
 10  5-11F                29615 non-null  int64
 11  12-17M               29615 non-null  int64
 12  12-17F               29615 non-null  int64
 13  18_59M               29615 non-null  int64
 14  18_59F               29615 non-null  int64
 15  60+M                 29615 non-null  int64
 16  60+F                 29615 non-null  int64
 17  Individuals          29615 non-null  int64
 18  Category             29615 non-null  object
 19  Need                 28725 non-null  object
dtypes: int64(11), object(9)
memory usage: 4.5+ MB
None

In [7]:
print(df.isnull().sum())

Current Region           0
CurrentDistrict          0
Previous Region          0
PreviousDistrict         0
Arrival                  0
ZoneName                 0
OrganisationAcronym      0
0-4M                     0
0-4F                     0
5-11M                    0
5-11F                    0
12-17M                   0
12-17F                   0
18_59M                   0
18_59F                   0
60+M                     0
60+F                     0
Individuals              0
Category                 0
Need                   890
dtype: int64

In [6]:
df["Current Region"].fillna(df["Current Region"].mode()[0], inplace=True)

C:\Users\KCT\AppData\Local\Temp\ipykernel_15440\3849650745.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Current Region"].fillna(df["Current Region"].mode()[0], inplace=True)

In [8]:
df_train = df[df["Need"].notnull()].copy()

In [9]:
print(df_train.isnull().sum())

Current Region         0
CurrentDistrict        0
Previous Region        0
PreviousDistrict       0
Arrival                0
ZoneName               0
OrganisationAcronym    0
0-4M                   0
0-4F                   0
5-11M                  0
5-11F                  0
12-17M                 0
12-17F                 0
18_59M                 0
18_59F                 0
60+M                   0
60+F                   0
Individuals            0
Category               0
Need                   0
dtype: int64

In [10]:
print(df["Current Region"].value_counts(dropna=False))

Current Region
SO22    5165
SO16    4273
SO24    2671
SO27    2566
SO15    2403
SO18    2260
SO28    2187
SO23    1898
SO26    1398
SO14    1218
SO11    1145
SO13     819
SO17     514
SO12     354
SO21     280
SO20     203
SO25     187
SO19      74
Name: count, dtype: int64

In [13]:
print(df["Arrival"].value_counts(dropna=False))

Arrival
6/2/2020      155
2/17/2020     153
8/9/2020      149
11/10/2020    143
2/16/2020     143
             ...
44096           1
44180           1
44176           1
44186           1
44194           1
Name: count, Length: 446, dtype: int64

In [14]:
df["Arrival"] = pd.to_datetime(df["Arrival"], errors="coerce")

In [16]:
print(df["Arrival"].dt.to_period("M").value_counts().sort_index())

Arrival
2020-01    1846
2020-02    2497
2020-03    2469
2020-04    2424
2020-05    2175
2020-06    2928
2020-07    2761
2020-08    2645
2020-09    2492
2020-10    2532
2020-11    2435
2020-12    2025
Freq: M, Name: count, dtype: int64

In [26]:
df_train = df_train.rename(columns={
    "0-4M": "Age0_4_Male",
    "0-4F": "Age0_4_Female",
    "5-11M": "Age5_11_Male",
    "5-11F": "Age5_11_Female",
    "12-17M": "Age12_17_Male",
    "12-17F": "Age12_17_Female",
    "18_59M": "Age18_59_Male",
    "18_59F": "Age18_59_Female",
    "60+M": "Age60plus_Male",
    "60+F": "Age60plus_Female"
})

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29615 entries, 0 to 29614
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       29615 non-null  object
 1   CurrentDistrict      29615 non-null  object
 2   Previous Region      29615 non-null  object
 3   PreviousDistrict     29615 non-null  object
 4   Arrival              29229 non-null  datetime64[ns]
 5   ZoneName             29615 non-null  object
 6   OrganisationAcronym  29615 non-null  object
 7   Age0_4_Male          29615 non-null  int64
 8   Age0_4_Female        29615 non-null  int64
 9   Age5_11_Male         29615 non-null  int64
 10  Age5_11_Female       29615 non-null  int64
 11  Age12_17_Male        29615 non-null  int64
 12  Age12_17_Female      29615 non-null  int64
 13  Age18_59_Male        29615 non-null  int64
 14  Age18_59_Female      29615 non-null  int64
 15  Age60plus_Male       29615 non-null  int64
 16  Age60plus_Female     29615 non-null  int64
 17  Individuals          29615 non-null  int64
 18  Category             29615 non-null  object
 19  Need                 28725 non-null  object
dtypes: datetime64[ns](1), int64(11), object(8)
memory usage: 4.5+ MB
None

In [27]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 28725 entries, 5 to 29614
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       28725 non-null  object
 1   CurrentDistrict      28725 non-null  object
 2   Previous Region      28725 non-null  object
 3   PreviousDistrict     28725 non-null  object
 4   Arrival              28725 non-null  object
 5   ZoneName             28725 non-null  object
 6   OrganisationAcronym  28725 non-null  object
 7   Age0_4_Male          28725 non-null  int64
 8   Age0_4_Female        28725 non-null  int64
 9   Age5_11_Male         28725 non-null  int64
 10  Age5_11_Female       28725 non-null  int64
 11  Age12_17_Male        28725 non-null  int64
 12  Age12_17_Female      28725 non-null  int64
 13  Age18_59_Male        28725 non-null  int64
 14  Age18_59_Female      28725 non-null  int64
 15  Age60plus_Male       28725 non-null  int64
 16  Age60plus_Female     28725 non-null  int64
 17  Individuals          28725 non-null  int64
 18  Category             28725 non-null  object
 19  Need                 28725 non-null  object
dtypes: int64(11), object(9)
memory usage: 4.6+ MB
None

In [28]:
before = df_train.shape

In [34]:
print(before)

(28725, 20)

In [32]:
df_train = df_train.drop_duplicates()

In [33]:
print(df_train.shape)

(27021, 20)