In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2021.csv")

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18368 entries, 0 to 18367
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       18364 non-null  object
 1   CurrentDistrict      18368 non-null  object
 2   Previous Region      18368 non-null  object
 3   PreviousDistrict     18368 non-null  object
 4   Arrival              18368 non-null  object
 5   ZoneName             18368 non-null  object
 6   OrganisationAcronym  18368 non-null  object
 7   0-4M                 18368 non-null  int64
 8   0-4F                 18368 non-null  int64
 9   5-11M                18368 non-null  int64
 10  5-11F                18368 non-null  int64
 11  12-17M               18368 non-null  int64
 12  12-17F               18368 non-null  int64
 13  18_59M               18368 non-null  int64
 14  18_59F               18368 non-null  int64
 15  60+M                 18368 non-null  int64
 16  60+F                 18368 non-null  int64
 17  Individuals          18368 non-null  int64
 18  Category             18368 non-null  object
 19  Need                 17856 non-null  object
dtypes: int64(11), object(9)
memory usage: 2.8+ MB
None

In [4]:
df["Current Region"].fillna(df["Current Region"].mode()[0], inplace=True)

C:\Users\KCT\AppData\Local\Temp\ipykernel_17344\3849650745.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Current Region"].fillna(df["Current Region"].mode()[0], inplace=True)

In [5]:
df_train = df[df['Need'].notnull()].copy()

In [6]:
print(df_train.isnull().sum())

Current Region         0
CurrentDistrict        0
Previous Region        0
PreviousDistrict       0
Arrival                0
ZoneName               0
OrganisationAcronym    0
0-4M                   0
0-4F                   0
5-11M                  0
5-11F                  0
12-17M                 0
12-17F                 0
18_59M                 0
18_59F                 0
60+M                   0
60+F                   0
Individuals            0
Category               0
Need                   0
dtype: int64

In [8]:
df_train = df_train.rename(columns={
    "0-4M": "Age0_4_Male",
    "0-4F": "Age0_4_Female",
    "5-11M": "Age5_11_Male",
    "5-11F": "Age5_11_Female",
    "12-17M": "Age12_17_Male",
    "12-17F": "Age12_17_Female",
    "18_59M": "Age18_59_Male",
    "18_59F": "Age18_59_Female",
    "60+M": "Age60plus_Male",
    "60+F": "Age60plus_Female"
})

In [9]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 17856 entries, 0 to 18367
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Current Region       17856 non-null  object
 1   CurrentDistrict      17856 non-null  object
 2   Previous Region      17856 non-null  object
 3   PreviousDistrict     17856 non-null  object
 4   Arrival              17856 non-null  object
 5   ZoneName             17856 non-null  object
 6   OrganisationAcronym  17856 non-null  object
 7   Age0_4_Male          17856 non-null  int64
 8   Age0_4_Female        17856 non-null  int64
 9   Age5_11_Male         17856 non-null  int64
 10  Age5_11_Female       17856 non-null  int64
 11  Age12_17_Male        17856 non-null  int64
 12  Age12_17_Female      17856 non-null  int64
 13  Age18_59_Male        17856 non-null  int64
 14  Age18_59_Female      17856 non-null  int64
 15  Age60plus_Male       17856 non-null  int64
 16  Age60plus_Female     17856 non-null  int64
 17  Individuals          17856 non-null  int64
 18  Category             17856 non-null  object
 19  Need                 17856 non-null  object
dtypes: int64(11), object(9)
memory usage: 2.9+ MB
None

In [10]:
before = df_train.shape

In [11]:
print(before)

(17856, 20)

In [12]:
df_train = df_train.drop_duplicates()

In [13]:
print(df_train.shape)

(16672, 20)